In [10]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

In [48]:
spark = SparkSession.builder \
    .appName("ExemploSpark") \
    .config("spark.sql.files.encoding", "UTF-8") \
    .getOrCreate()

df = spark.read.csv("clientes.csv", header=True, inferSchema=True, sep=",")


df.show()

+----------+-----+-----+--------------+
|id_cliente| nome|idade|        cidade|
+----------+-----+-----+--------------+
|         1| João|   35|     São Paulo|
|         2|Maria|   25|Rio de Janeiro|
|         3| José|   40|      Curitiba|
|         4|  Ana|   28|     São Paulo|
|         5|Paulo|   50|Belo Horizonte|
+----------+-----+-----+--------------+

In [49]:
df_selecionado = df.select("nome", "idade", "cidade")
df_selecionado.show()

+-----+-----+--------------+
| nome|idade|        cidade|
+-----+-----+--------------+
| João|   35|     São Paulo|
|Maria|   25|Rio de Janeiro|
| José|   40|      Curitiba|
|  Ana|   28|     São Paulo|
|Paulo|   50|Belo Horizonte|
+-----+-----+--------------+

In [50]:
df_filtrado = df.filter(col("idade") > 30)
df_filtrado.show()

+----------+-----+-----+--------------+
|id_cliente| nome|idade|        cidade|
+----------+-----+-----+--------------+
|         1| João|   35|     São Paulo|
|         3| José|   40|      Curitiba|
|         5|Paulo|   50|Belo Horizonte|
+----------+-----+-----+--------------+

In [51]:
count_sp = df.filter(col("cidade") == "São Paulo").count()
count_sp

2